$main-font: "Montserrat", sans-serif;

$body-bgr: #f9f9f9;
$component-bgr: #ffffff;
$wishlist-btn: #ededed;

$accent-color: #7e72f2;
$main-color: #2c2c2c;
$search-text: #999999;

$universal-padding: 25px 25px;
